<section class="page"><div class="centered-box">
  <center>
    <h1 class="sign_in_on">Sign In</h1>

    <%= render 'shared/errors' %>

    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <label for="user_email" class="entry_text">Email:</label>
      <input type="text" name="user[email]" id="user_email">
      <br>
      <br>
      <label for="user_password" class="entry_text">Password:</label>
      <input type="password" name="user[password]" id="user_password">
      <br>
      <br>
      <input type="submit" value="Sign In">
    </form>
  </center>
</div></section>